@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Righteous&display=swap');
:root {
	--red-hue: 3;
	--red-sat: 99%;
	--red-light: 50%;	

	--green-hue: 107;
	--green-sat: 99%;
	--green-light: 50%;	
	
	--blue-hue: 185;
	--blue-sat: 99%;
	--blue-light: 65%;
	
	--yellow-hue: 55;
	--yellow-sat: 99%;
	--yellow-light: 50%;	
	
	--orange-hue: 25;
	--orange-sat: 99%;
	--orange-light: 50%;	
	
	--purple-hue: 265;
	--purple-sat: 99%;
	--purple-light: 60%;
	
	--pink-hue: 325;
	--pink-sat: 99%;
	--pink-light: 60%;
	
	--white-hue: 0;
	--white-sat: 99%;
	--white-light: 100%;
	
	--hue: var(--blue-hue);
	--sat: var(--blue-sat);
	--light: var(--blue-light);
	--start-deg: -135deg;
	--panel-width: 500px;
	--panel-text: "VOLUME";
	--bg-color: #333;
	--border-color: #111;
	--primary-color: #111;
	--secondary-color: #222;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Kanit", arial;
	color: var(--primary-color);
}

body {
	background: #333;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

.panel {
	border: calc(var(--panel-width) * .01) var(--border-color) solid;
	position: relative;
	border-radius: calc(var(--panel-width) * .1);
	width: var(--panel-width);
	height: calc(var(--panel-width) * 7/5);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container {
	width: calc(var(--panel-width) *.8);
	height: calc(var(--panel-width) *.8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 5%;
}

.ticks-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tick-container-00,
.tick-container-01,
.tick-container-02,
.tick-container-03,
.tick-container-04,
.tick-container-05,
.tick-container-06,
.tick-container-07,
.tick-container-08,
.tick-container-09,
.tick-container-10,
.tick-container-11 {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.tick-container-00 {
	transform: rotate(-137.5deg);
}
.tick-container-01 {
	transform: rotate(-112.5deg);
}
.tick-container-02 {
	transform: rotate(-87.5deg);
}
.tick-container-03 {
	transform: rotate(-62.5deg);
}
.tick-container-04 {
	transform: rotate(-37.5deg);
}
.tick-container-05 {
	transform: rotate(-12.5deg);
}
.tick-container-06 {
	transform: rotate(12.5deg);
}
.tick-container-07 {
	transform: rotate(37.5deg);
}
.tick-container-08 {
	transform: rotate(62.5deg);
}
.tick-container-09 {
	transform: rotate(87.5deg);
}
.tick-container-10 {
	transform: rotate(112.5deg);
}
.tick-container-11 {
	transform: rotate(137.5deg);
}

.tick {
	position: absolute;
	width: 2.5%;
	height: 9%;
	top: 2%;
	background-color: hsl(var(--hue), var(--sat), 0%);
	border: calc(var(--panel-width) / 2 * .01) var(--border-color) solid;
}

.panel:hover .tick-00 {
	animation: ticking-00 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-01 {
	animation: ticking-01 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-02 {
	animation: ticking-02 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-03 {
	animation: ticking-03 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-04 {
	animation: ticking-04 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-05 {
	animation: ticking-05 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-06 {
	animation: ticking-06 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-07 {
	animation: ticking-07 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-08 {
	animation: ticking-08 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-09 {
	animation: ticking-09 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-10 {
	animation: ticking-10 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-11 {
	animation: ticking-11 .5s;
	animation-fill-mode: forwards;
}

@keyframes ticking-00 {
	0% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-01 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	8.32% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	8.33% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-02 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	16.66% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	16.67% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-03 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	24% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	25% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-04 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	33.32% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	33.33% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-05 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	41.66% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	41.67% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-06 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	49% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	50% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-07 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	58.32% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	58.33% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-08 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	66.66% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	66.67% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-09 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	74% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	75% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-10 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	83.32% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	83.33% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-11 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	91.66% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	91.67% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

.glow {
	position: absolute;
	width: calc(var(--panel-width) *.8 * .7);
	height: calc(var(--panel-width) * .8 * .7);
	border-radius: 50%;
	box-shadow: 0 0 calc(var(--panel-width) * .1) hsl(var(--hue), var(--sat), var(--light));
	transition: opacity 1s linear;
	opacity: 0;
}

.knob-container {
	width: calc(var(--panel-width) * .8 * .7);
	height: calc(var(--panel-width) * .8 * .7);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: calc(var(--panel-width) * .01) calc(var(--panel-width) * .02) calc(var(--panel-width) * .02) var(--border-color);
	transform: translate(calc(var(--panel-width) * .002), calc(var(--panel-width) * .002));
}

.knob {
	background-image: url('../img/knob-face-sm.png');
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: transform .5s linear;
	border:  var(--border-color) dashed;
	border-radius: 50%;
}

.indicator-container {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(-137.5deg);
	transition: transform .5s linear;
}

.indicator {
	position: absolute;
	background-color: hsl(var(--hue), var(--sat), var(--light));
	width: 5%;
	height: 22%;
	top: 3%;
	left: 50%;
	transform: translateX(-50%);
	border: calc(var(--panel-width) / 2 * .01) var(--border-color) solid;
}

.panel:hover .indicator-container,
.panel:hover .knob {
	transform: rotate(137.5deg);
}

.panel:hover .glow {
   opacity: 1;
}

.panel:active .knob-container {
	box-shadow: none;
	transform: translate(calc(var(--panel-width) *- .002), calc(var(--panel-width) * -.002));
}

.numbers {
	width: 100%;
	margin-top: -12%;
	display: flex;
	align-items: center;
	gap: 20%
}

.zero, .eleven {
	flex: 1;
	text-align: center;
	font-size: calc(var(--panel-width) * .08);
}

.panel:hover .zero {
	animation: number-0 .5s;
	animation-fill-mode: forwards;
}

.panel:hover .eleven {
	animation: number-11 .5s;
	animation-fill-mode: forwards;
}

.link-title {
	width: 100%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: calc(var(--panel-width) * .13);
	text-transform: uppercase;
}

.link-text::after {
	content: var(--panel-text);
	font-size: calc(var(--panel-width) * .18);
	transition: color 1s ease;
}

.panel:hover .link-text {
	color: hsl(var(--hue), var(--sat), var(--light));
}

@keyframes number-0 {
	0% {
		color: hsl(var(--hue), var(--sat), 0%);
	}
	1% {
		color: hsl(var(--hue), var(--sat), var(--light));
		text-shadow: 0 0  calc(var(--panel-width) * .03) hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		color: hsl(var(--hue), var(--sat), var(--light));
		text-shadow: 0 0  calc(var(--panel-width) * .03) hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes number-11 {
	0% {
		color: hsl(var(--hue), var(--sat), 0%);
	}
	91.66% {
		color: hsl(var(--hue), var(--sat), 0%);
	}
	91.67% {
		color: hsl(var(--hue), var(--sat), var(--light));
		text-shadow:  none;
	}
	100% {
		color: hsl(var(--hue), var(--sat), var(--light));
		text-shadow: 0 0  calc(var(--panel-width) * .03) hsl(var(--hue), var(--sat), var(--light));
	}
}

.glare {
	position: absolute;
	border-radius: 50%;
	width: calc(var(--panel-width) * .8 * .7);
	height: calc(var(--panel-width) * .8 * .7);;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform: rotate(-30deg);
}

.left-line {
	position: absolute;
	width: calc(var(--panel-width) * .8 * .7);
	height: calc(var(--panel-width) * .8 * .7);
	background-image: -webkit-linear-gradient(15deg, rgba(255,255,255,0) 0%, 
																							rgba(255,255,255,.00) 30%, 
																							rgba(255,255,255,.15) 50%, 
																							rgba(255,255,255,.03) 70%, 
																							rgba(255,255,255,0) 100%);
	transform: rotate(45deg) scale3d(30 30 30);
}

.middle-line {
	position: absolute;
	width: calc(var(--panel-width) * .8 * .7);
	height: calc(var(--panel-width) * .8 * .7);
	background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, 
																							rgba(255,255,255,.03) 30%, 
																							rgba(255,255,255,.15) 50%, 
																							rgba(255,255,255,.03) 70%, 
																							rgba(255,255,255,0) 100%);
	transform: rotate(45deg) scale3d(30 30 30);
}

.right-line {
	position: absolute;
	width: calc(var(--panel-width) * .8 * .7);
	height: calc(var(--panel-width) * .8 * .7);
	background-image: -webkit-linear-gradient(-15deg, rgba(255,255,255,0) 0%, 
																							rgba(255,255,255,.03) 30%, 
																							rgba(255,255,255,.15) 50%, 
																							rgba(255,255,255,.0) 70%, 
																							rgba(255,255,255,0) 100%);
	transform: rotate(45deg) scale3d(30 30 30);
}