@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Righteous&display=swap');
:root {
	--hue: 185;
	--sat: 99%;
	--light: 65%;
	--start-deg: -135deg;
	--panel-width: 500px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Kanit", arial;
	color: #111;
}

body {
	background: #333;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

.panel {
	border: calc(var(--panel-width) * .01) #111 solid;
	position: relative;
	border-radius: calc(var(--panel-width) * .1);
	width: var(--panel-width);
	height: calc(var(--panel-width) * 7/5);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container {
	width: calc(var(--panel-width) *.8);
	height: calc(var(--panel-width) *.8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 5%;
}

.ticks-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tick-container-00,
.tick-container-01,
.tick-container-02,
.tick-container-03,
.tick-container-04,
.tick-container-05,
.tick-container-06,
.tick-container-07,
.tick-container-08,
.tick-container-09,
.tick-container-10,
.tick-container-11 {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.tick-container-00 {
	transform: rotate(-137.5deg);
}
.tick-container-01 {
	transform: rotate(-112.5deg);
}
.tick-container-02 {
	transform: rotate(-87.5deg);
}
.tick-container-03 {
	transform: rotate(-62.5deg);
}
.tick-container-04 {
	transform: rotate(-37.5deg);
}
.tick-container-05 {
	transform: rotate(-12.5deg);
}
.tick-container-06 {
	transform: rotate(12.5deg);
}
.tick-container-07 {
	transform: rotate(37.5deg);
}
.tick-container-08 {
	transform: rotate(62.5deg);
}
.tick-container-09 {
	transform: rotate(87.5deg);
}
.tick-container-10 {
	transform: rotate(112.5deg);
}
.tick-container-11 {
	transform: rotate(137.5deg);
}

.tick {
	position: absolute;
	width: 2.5%;
	height: 9%;
	top: 2%;
	background-color: hsl(var(--hue), var(--sat), 0%);
	border: calc(var(--panel-width) / 2 * .01) #222 solid;
}

.panel:hover .tick-00 {
	animation: ticking-00 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-01 {
	animation: ticking-01 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-02 {
	animation: ticking-02 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-03 {
	animation: ticking-03 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-04 {
	animation: ticking-04 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-05 {
	animation: ticking-05 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-06 {
	animation: ticking-06 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-07 {
	animation: ticking-07 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-08 {
	animation: ticking-08 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-09 {
	animation: ticking-09 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-10 {
	animation: ticking-10 .5s;
	animation-fill-mode: forwards;
}
.panel:hover .tick-11 {
	animation: ticking-11 .5s;
	animation-fill-mode: forwards;
}

@keyframes ticking-00 {
	0% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-01 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	8.32% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	8.33% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-02 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	16.66% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	16.67% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-03 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	24% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	25% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-04 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	33.32% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	33.33% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-05 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	41.66% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	41.67% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-06 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	49% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	50% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-07 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	58.32% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	58.33% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-08 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	66.66% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	66.67% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-09 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	74% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	75% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-10 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	83.32% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	83.33% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

@keyframes ticking-11 {
	0% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	91.66% {
		background-color: hsl(var(--hue), var(--sat), 0%);
	}
	91.67% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
	100% {
		background-color: hsl(var(--hue), var(--sat), var(--light));
	}
}

.glow {
	position: absolute;
	width: 70%;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	box-shadow: 0 0 calc(var(--panel-width) * .1) hsl(var(--hue), var(--sat), var(--light));
	transition: opacity 1s linear;
	opacity: 0;
}

.knob-container {
	width: 70%;
	height: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	box-shadow: calc(var(--panel-width) * .01) calc(var(--panel-width) * .02) #111;
	overflow: hidden;
}

.knob {
	background-image: url('../img/knob-face-sm.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: transform .5s linear;
}

.knob-glare {
	background-image: url('../img/knob-glare-sm.png');
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}

.indicator-container {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(-137.5deg);
	transition: transform .5s linear;
}

.indicator {
	position: absolute;
	background-color: hsl(var(--hue), var(--sat), var(--light));
	width: 4%;
	height: 15%;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	border: calc(var(--panel-width) / 2 * .01) #333 solid;
}

.panel:hover .indicator-container,
.knob {
	transform: rotate(137.5deg);
}

.panel:hover .glow {
   opacity: 1;
}

.numbers {
	width: 100%;
	margin-top: -12%;
	display: flex;
	align-items: center;
	gap: 20%
}

.zero, .eleven {
	flex: 1;
	text-align: center;
	font-size: calc(var(--panel-width) * .08) ;
}

.link-title {
	width: 100%;
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10%;
}

.link-text {
	font-size: calc(var(--panel-width) * .2);
	transition: color 1s ease;
}

.panel:hover .link-text {
	color: hsl(var(--hue), var(--sat), var(--light));
}


/* Code to make trianlges 
*****FOR LATER *****

 #triangle-up {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
    }

	    #triangle-down {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid red;
    } *?